{% load static %}


{% block body %}

{% include 'navigation.html' %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<div class="container-fluid" style="margin-top:1">
    <img src="{% static 'images/LEARNING IS FUN app.png' %}" style="height:450px; width:100%" >
</div>


<section class="our-placed-students">
   <div class="container">
    <h1 class="text-center text-white">Our Placed Students</h1>

    <div class="row">
        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Facebook</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Twitter</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Amazon</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Netflix</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Microsoft</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface rounded">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Accenture</h5>
            </div>
        </div>
    </div>
</div>
</section>

{% include 'footer.html' %}
{% endblock %}