{% load static %}


{% block body %}

{% include 'navigation.html' %}

<style>
     *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body{
      background-color: #F5F8FA;
    }
    .our-placed-students{
      padding: 3rem 0 6rem 0;
      background-color: #12171d; /* background */
    }
    .our-placed-students h1{
      padding-bottom: 3rem;
    }
    .card-title{
      text-align: center;
      color: #1DA1F2;
    }
    .card-text{
      color: #AAB8C2;
    }
    .bg-dark-custom-surface{
      background: #18202b; /* surface */
      padding: 0;
    }
    .card{
      border-radius: 0;
      border: none;
    }
    .row{
      gap: 1rem;
      box-sizing: border-box;
    }
    .our-placed-students .row>div{
      width: 30%;
    }
    .row{
      justify-content: center;
    }
    @media only screen and (max-width: 800px) {
      .our-placed-students .row>div{
        width: 45%;
      }
    }
    @media only screen and (max-width: 600px) {
      .our-placed-students .row>div{
        width: 90%;
      }
    }
</style>

   <!--datatable start-->
    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<!--datatable end-->

<div class="container-fluid" style="margin-top:1">
    <img src="{% static 'images/LEARNING IS FUN app.png' %}" style="height:450px; width:100%" >
</div>

<section class="our-placed-students">
   <div class="container">
    <h1 class="text-center text-white">Our Placed Students</h1>

    <div class="row">
        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Facebook</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Twitter</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Amazon</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Netflix</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Microsoft</h5>
            </div>
        </div>

        <div class="mb-0.5 bg-dark-custom-surface">
            <div class="card text-center">
                <img src="{% static 'images/game_dev.jpg' %}" class="img-fluid">
            </div>
            <div class="card-body">
                <h5 class="card-title">Accenture</h5>
            </div>
        </div>
    </div>
</div>
</section>

<br><br>
<div class="container">
    <table class="table table-hover" id="example">
        <thead>
        <tr style="background-color: #000080; color: white">
            <th>S.No.</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for i in job %}
        <tr style="background-color: #DEB887">
            <td>{{forloop.counter}}</td>
            <td>{{i.recruiter.company}}</td>
            <td>{{i.title}}</td>
            <td>{{i.location}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td><a href="{% url 'user_login'%}" class="btn btn-success btn-sm">Login to Apply</a></td>
        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>
{% endblock %}