{% load static %}
{% block body %}
{% include 'user_navigation.html' %}

<style>
    tr{text-align: center}
</style>
<body>
    <div class="container shadow-lg col-lg-6 py-2 mb-2" style="margin: max(15vh, 4rem) auto;">
    <div class="row" style="margin-top: 0.5rem">
        <div class="col-md-4">
            <img src="{{job.image.url}}" style="width: 200px; height: 200px; object-fit: cover;">
        </div>

        <div class="col-md-8">
            <h2>{{job.title}}</h2>
            <p>{{job.recruiter.company}} <em><a href="{% url 'user_latestjobs' %}">(View All Jobs)</a></em></p>
            <a href="#" class="mr-2"><i class="fa fa-map-marker mr-2"></i>{{job.location}}</a>
            <a href="#"><i class="fa fa-calendar mr-2"></i>{{job.creationdate}}</a>
            <br>
            <strong><i class="fa fa-money mr-2 mt-2"></i><i class="fa fa-rouble"></i>{{job.salary}}</strong>

            <div class="mt-8">
                <a href="{% url 'applyforjob' job.id %}" class="btn btn-success" style="height: 40px; font-size: 20px; margin-top: 1rem;">Apply for this Job</a>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <h5>Overview</h5>
        <p>{{job.description}}</p>

        <h5>Required Experience</h5>
        <p>{{job.experience}} years</p>

        <h5>Skills Required</h5>
        <p>{{job.skills}}</p>

        <h5>Start Date for applying</h5>
        <p>{{job.start_date}}</p>

        <h5>Last Date for applying</h5>
        <p>{{job.end_date}}</p>
    </div>
</div>
<div style="height: 4rem;"></div>
</body>
{% endblock %}