{% load static %} {% block body %} {% include 'navigation.html' %}

<style>
  .latest-jobs-table{
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
</style>

<script>
  window.console = window.console || function(t) {};
</script>

<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>

<body style="background-color: #F5F8FA">
  <div class="container table-responsive py-5" style="padding-top: 0 !important; margin: max(15vh, 4rem) auto;">
  <table class="table table-bordered table-hover latest-jobs-table">
    <thead class="thead-dark">
      <tr>
        <th>S.No.</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for i in job %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.recruiter.company}}</td>
        <td>{{i.title}}</td>
        <td>{{i.location}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.end_date}}</td>
        <td>
          <a href="{% url 'user_login'%}" class="btn btn-success btn-sm"
            >Login to Apply</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
{% endblock %}
