{% load static %}
{% block body %}
{% include 'user_navigation.html' %}

<style>
    body{
      background-color: #F5F8FA;
    }
    .info-row{
      margin-bottom: 2rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 0.7rem;
    }
</style>

<body>
    <div class="container" style="margin: max(15vh, 4rem) auto;">
    <div class="row info-row" style="background: #fff;">
        <div class="col-sm-6">
            <form class="container mt-5" name="signup" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{student.user.first_name}}" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{student.user.last_name}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Contact</label>
                        <input type="text" class="form-control" name="contact" value="{{student.mobile}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email ID</label>
                        <input type="text" class="form-control" name="email" value="{{student.user.username}}" readonly required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        {% if student.gender == "Male" %}
                            <div style="border:1px solid lightgrey; padding: 6px; border-radius: 6px">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>
                        {% else %}
                            <div style="border:1px solid lightgrey; padding: 6px; border-radius: 6px">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female" checked>
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image" accept="image/*">
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn my-3" style="background-color: #1DA1F2; color: #fff;">
            </form>
        </div>
        <div class="col-sm-4 mt-5 text-center">
            <div style="width: 100px; height: 100px;">
                <img src="{{student.image.url}}" style="object-fit: cover; width: 100%; height: 100%; object-position: center; border-radius: 0.3rem;">
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Profile Updated Successfully");
    window.location = ('{% url 'user_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endif %}
{% endblock %}